*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

.container {
    display: flex;
    height: 100vh; /* Adjust the height as needed */
  }
  
  .container .left-side, .container .right-side {
    flex: 1;

  }
  
  .container .left-side {
  
    background:url('../Img/register1.jpg');
    background-size: cover;
    background-position: center;
  }
  
 .container .right-side {
    background-color: rgb(122, 35, 110); /* Set the background color for the right side */
  }

.container .right-side .form{
    width: 400px;
    height: auto;
    color: #fff;
    font-family: 'roboto', sans-serif;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    
}

.heading{
    opacity: 0;
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;
    text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
}

input,
.submit-btn{
    opacity: 0;
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    border: none;
    color: #000000;
    padding: 15px;
    transition: .5s;
    text-transform: capitalize;
}

input::placeholder{
    color: #000;
}

input:focus,
.submit-btn:hover{
    background: #eb9bf8;
    color: #000;
}

input:focus::placeholder{
    color: #000;
}

.submit-btn{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
    opacity: 0;
}

.link{
    opacity: 0;
    text-align: center;
    text-transform: capitalize;
    background-color: #e08aec;
    width: 70%;
    height: 30%;
    color: #000;
    display: block;
    margin: 30px auto;
}

.link:hover{
    background-color: #4e0559;
    width: 70%;
    height: 30%;
    color: #fff;
}


    